<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row pt-2 d-flex justify-content-center">
        <div class="col-md-6">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add New role</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="#" th:action="@{/admin/employee/management/role/add}" th:object="${role}" method="post">
                    <div class="card-body">

                        <div class="form-group">
                            <label>Role Prefix</label>
                            <select th:field="*{module}" class="form-control">
                                <option th:each="m : ${modules}" th:value="${m.getId()}" th:text="${m.getRolePrefix()}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="moduleInputName">Role name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="moduleInputName" placeholder="login">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label>Role Description</label>
                            <textarea th:field="*{description}" class="form-control"  rows="3"></textarea>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>