<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row pt-2">
        <div class="col-md-3">
            <a th:href="@{/admin/hr/management/leaves/all}">
                <div class="info-box bg-primary">
                    <span class="info-box-icon"><i class="fas fa-folder-plus"></i></span>

                    <div class="info-box-content">
                        view All leaves
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </a>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">We are on leave</h3>

                    <div class="card-tools">
                        <span class="badge badge-primary" th:text="${#lists.size(future_leaves)}"></span>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <ul class="users-list clearfix">
                        <li th:each="future_leave : ${future_leaves}">
                            <img th:src="@{${future_leave.getEmp().getAvatarImagePath() == null ? '/assets/img/user1-128x128.jpg': future_leave.getEmp().getAvatarImagePath()}}" alt="User Image">
                            <a class="users-list-name" href="#" th:text="${future_leave.getEmp().getFirstName()}"></a>
                            <span class="users-list-date" th:text="${#strings.substring(future_leave.getLeaveFrom(), 5,10)}"></span>
                            <span th:text="${future_leave.getStatus()}" class="badge "
                                  th:classappend="|${future_leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).PENDING ? 'badge-success ': ''}
                                          ${future_leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).APPROVED ? 'badge-warning ': ''}
                                          ${future_leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).REJECTED ? 'badge-danger ': ''}
                                          ${future_leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).CANCELED ? 'badge-secondary ': ''}|"></span>
                        </li>

                    </ul>
                    <!-- /.users-list -->
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Summery</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 th:text="${last_week_count}"></h3>
                            <p>Total Leaves last 14 days</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Leave Details</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tbl-leave" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{content.leave-manage.leave-tbl.header.avatar}"></th>
                            <th th:text="#{content.leave-manage.leave-tbl.header.firstname}"></th>
                            <th th:text="#{content.leave-manage.leave-tbl.header.status}"></th>
                            <th th:text="#{content.leave-manage.leave-tbl.header.from}"></th>
                            <th th:text="#{content.leave-manage.leave-tbl.header.to}"></th>
                            <th th:text="#{content.leave-manage.leave-tbl.header.approved-by}"></th>
                            <th th:text="#{content.leave-manage.leave-tbl.header.action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="leave : ${tbl_leaves}">
                            <td th:text="${leave.getId()}"></td>
                            <td>
                            <img class="direct-chat-img"
                                 th:src="@{${leave.getEmp().getAvatarImagePath() == null ? '/assets/img/user1-128x128.jpg': leave.getEmp().getAvatarImagePath()}}" alt="avatar">
                            </td>
                            <td th:text="${leave.getEmp().getFirstName()}"></td>
                            <td>
                                <span th:text="${leave.getStatus()}" class="badge "
                                      th:classappend="|${leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).PENDING ? 'badge-success ': ''}
                                          ${leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).APPROVED ? 'badge-warning ': ''}
                                          ${leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).REJECTED ? 'badge-danger ': ''}
                                          ${leave.getStatus() == T(com.epsychiatry.model.enums.LeaveStatus).CANCELED ? 'badge-secondary ': ''}|"></span>
                            </td>
                            <td th:text="${leave.getLeaveFrom()}"></td>
                            <td th:text="${leave.getLeaveTo()}"></td>
                            <th th:text="${leave.getApprovedBy() == null ? '-': leave.getApprovedBy().getFirstName()}"></th>
                            <th>
                                <a th:if="${leave.getStatus() ==  T(com.epsychiatry.model.enums.LeaveStatus).PENDING}" class="btn btn-info btn-xs" th:href="@{/admin/hr/management/leave/review/{id}(id=${leave.getId()})}">
                                    <i class="fas fa-comment"></i>
                                    </i>
                                    review
                                </a>
                                <a th:href="@{/admin/hr/management/leave/view/{id}(id=${leave.getId()})}"><i class="fas fa-eye"></i></a>
                                <a th:href="@{/admin/hr/management/leave/cancel/{id}(id=${leave.getId()})}"
                                   th:if="${leave.getStatus() != T(com.epsychiatry.model.enums.LeaveStatus).CANCELED and
                                leave.getAskClosed()}">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            </th>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
</body>
</html>